/*
 * Copyright (c) 2023 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>


#define SYM 1
#define UPPER 2


/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp LCLK>, <&bt BT_CLR>;
        };
    };
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            bindings = <&out &kp>;
        };
    };

    behaviors {
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <400>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
//         --------------------------------------------------------------------------------------------------------------------------         
// |    Shoulder Key1    |                 |    Shoulder Key2    |                 |    Shoulder Key3    |                 |    Shoulder Key4    |        
// |      SYM       |    ENDCALL   |  Blackberry Key  |    Trackpad    |      Back Key      |        Endcall Key   |          UPPER              |
// |     Q      |     W    |     E    |     R    |      T      |       Y        |       U        |        I        |       O      |      P       |     
// |     A      |     S    |     D    |     F    |      G      |       H        |       J        |        K        |       L      |      ←       |  
// |     Z      |     X    |     C    |     V    |            SPACE             |       B        |        N        |        M     |    Enter     |   
//        -----------------------------------------------------------------------------------------------------------------

    &mkp LCLK                     &kp LSHFT                                                &kp LALT                                  &mkp RCLK
    &none                &none        &none             &mkp LCLK                          &none                    &none            &none
    &kp Q        &kp W      &kp E       &kp R     &kp T         &kp Y             &kp U            &kp I            &kp O            &kp P
    &kp A        &kp S      &kp D       &kp F     &kp G         &kp H             &kp J            &kp K            &kp L            &kp BSPC
    &kp Z        &kp X      &kp C       &kp V           &kp SPACE                 &kp B            &kp N            &kp M            &kp ENTER
            >;
        };

    };
};

