# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: Apache-2.0

if BOARD_BBCASE

config BOARD
	default "bbcase"

config RP2_FLASH_W25Q080
	default y

config ZMK_USB
	default y

endif # BOARD_BBCASE